:root {  
  --color: lightgray;
}

#search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#search-result > p {
  padding: 0.4em;
  border: solid black 1px;
}

#search-result > p:hover {
  background-color: var(--color);
  cursor: pointer;
}

#tree {
  margin: 0;
}

#label-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  outline: solid black 1px;
  background-color: white;
}

#label-menu > input {
  display: block;
  outline: solid black 1px;
  border: 0;
}

#label-menu > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
  border: none;
  transition: outline 100ms ease-out;
}

#label-menu > div:hover {
  outline: solid black 3px;
  cursor: pointer;
}

#label-menu > div > p {
  margin: 0
}

.option {
  flex-grow: 1;
}

.x:hover {
  color: red;
}