:root {  
  --color: lightgray;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#result > p {
  padding: 0.4em;
  border: solid black 1px;
}

#result > p:hover {
    background-color: var(--color);
    cursor: default;
}

#tree {
  margin: 0;
}

#tag-dialog {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: solid black 1px;
}

#tag-dialog > input {
  background-color: var(--color);
}

#tag-dialog > p {
  margin: 0;
  background-color: white;
}

#tag-dialog > p:hover {
  background-color: var(--color);
}
